@media (max-width: 400px) {
  input[type='date']::before {
    color: #000000;
    font-size: 10px;
    content: attr(placeholder) ': ';
  }
  input[type='date']:focus::before {
    content: '' !important;
  }
}
